section{
   margin-top: 120px;
    min-height: 100vh;
    -o-object-fit: contain;
       object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    
    


    video{
    -o-object-fit: cover;
       object-fit: cover;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 110%;
      height: 100%;
      z-index: -1;
      overflow: hidden;

   }
}
.header-wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;

   .header-title{
      font-family: 'DM Serif Display', serif;
      font-weight: bold;
      color: white;
      font-size: 5rem;
   }
   .header-subtitle{
      padding: 2%;
      text-transform: capitalize;
      font-family: 'DM Serif Display', serif;
      color: white;
      font-size: 1.2rem;
   }
}


// ====MEDIA QUERY===

@media screen and (max-width: 768px) { 
   section{
      margin-top: 70px;
   }
  .header-wrapper .header-title{
      font-size: 3rem;
   }
   .header-wrapper .header-subtitle{
      
      font-size: 1rem;
   }
}