<section>
    <div class="header-wrapper">
        <h2 class="header-title" [@enter1]>Clinica Cemeresi</h2>
        <h6 class="header-subtitle" [@enter2]>CENTRO MÉDICO ESTÉTICO Y CAPILAR</h6>
    </div>
    <video [autoplay]="true" [loop]="true" [muted]="true">
        <source src="../../../assets/media/web_Alberto.webm" type="video/webm">
        Your browser does not support the video tag.
    </video>
</section>