<section cds-layout="vertical gap:md align:stretch">
    <div cds-layout="grid cols:auto gap:md align:center">
        <cds-card>
            <div cds-layout="vertical gap:md">
                <cds-icon cds-layout="horizontal gap:md align:center" size="30" shape="map-marker"></cds-icon>
                <h2 cds-layout="horizontal gap:md align:center" cds-text="section">Dirección física</h2>
                <div cds-layout="horizontal gap:sm align:center">
                    <cds-button action="flat-inline">Calle de Martín de los Heros 63 (28008 Madrid)</cds-button>
                </div>
            </div>
        </cds-card>
        <cds-card>
            <div cds-layout="vertical gap:md">
                <cds-icon cds-layout="horizontal gap:md align:center" size="30" shape="envelope"></cds-icon>
                <h2 cds-layout="horizontal gap:md align:center" cds-text="section">Dirección de correo electrónico</h2>

                <div cds-layout="horizontal gap:sm align:center">
                    <cds-button action="flat-inline">direccioncemeresi@gmail.com</cds-button>
                </div>
            </div>
        </cds-card>
        <cds-card>
            <div cds-layout="vertical gap:md">

                <cds-icon cds-layout="horizontal gap:md align:center" size="30" shape="phone-handset"></cds-icon>

                <h2 cds-layout="horizontal gap:md align:center" cds-text="section">Números de teléfono</h2>
                <div cds-layout="horizontal gap:sm align:center">
                    <cds-button action="flat-inline">Teléfono – 912 940 047</cds-button>|
                    <cds-button action="flat-inline">WhatsApp – 637 68 79 34</cds-button>
                </div>
            </div>
        </cds-card>
    </div>
    <div cds-layout="grid cols:auto gap:md align:center">

        <cds-card>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.0815995635744!2d-3.717833!3d40.429192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42286966b300f3%3A0xdb5daea3913d42e!2sCl%C3%ADnica%20Cemeresi!5e0!3m2!1ses!2ses!4v1663499005406!5m2!1ses!2ses"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </cds-card>

        <cds-card style="--width:600px;--height:450px">
            <form>
                <cds-form-group>
                    <cds-input>
                        <label>input</label>
                        <input type="text" />
                    </cds-input>

                    <cds-textarea>
                        <label>textarea</label>
                        <textarea></textarea>
                    </cds-textarea>

                    <cds-button type="submit">save</cds-button>
                </cds-form-group>
            </form>
        </cds-card>

    </div>
</section>