<ion-header>
  <ion-toolbar>

    <div class="toolbar-box">
      <ion-title>Nuevo paciente</ion-title>
      <ion-button *ngIf="patient" type="button" shape="round" size="small" fill="outline" color="success"
        (click)="backToCreatePatient()">
        <ion-icon name="arrow-redo-sharp"></ion-icon>Crear
      </ion-button>
      <ion-button type="button" shape="round" size="small" fill="outline" (click)="goBack()">
        <ion-icon name="arrow-redo-sharp"></ion-icon>Volver
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="newPatientForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">NOMBRE</ion-label>
        <ion-input formControlName="name" type="text" class="text-align-right"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">APELLIDO</ion-label>
        <ion-input type="text" formControlName="lastName" class="text-align-right"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select interface="popover" formControlName="gender" placeholder="GÉNERO">
          <ion-select-option value="Hombre">Hombre</ion-select-option>
          <ion-select-option value="Mujer">Mujer</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Cumpleaños</ion-label>
        <ion-input class="text-align-right" type="date" formControlName="birthday"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input class="text-align-right" type="email" placeholder="email@domain.com" formControlName="email">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input class="text-align-right" type="number" placeholder="888-888-8888" formControlName="phone">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Notas</ion-label>
        <ion-input class="text-align-right" type="text" placeholder="Alguna nota" formControlName="note"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-input class="text-align-right" type="date" formControlName="date"></ion-input>
      </ion-item>
    </ion-list>
    <div class="btn-box">
      <ion-button id="createBtn" *ngIf="!patient" shape="round" (click)="onClickCreatePatient()" color="success">
        <ion-icon name="add-sharp"></ion-icon>Crear
      </ion-button>
      <ion-button *ngIf="patient" shape="round" color="warning">
        <ion-icon name="add-sharp"></ion-icon>Editar
      </ion-button>
      <ion-button type="reset" shape="round" (click)="onClickResetForm()" fill="outline" color="danger">
        <ion-icon name="arrow-redo-sharp"></ion-icon>Resetear
      </ion-button>
    </div>
  </form>

</ion-content>