footer{
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(102, 59, 179, 1) 100%);
}
h3{
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    font-style: italic;
}

a{
    text-decoration: none;
    color:white
}
ul{
    padding: 0;
    list-style: none;
}