<footer cds-layout="vertical gap:md align:stretch">

    <div cds-layout="grid gap:md align:stretch m-t:lg">
        <div cds-layout="vertical gap:md align:center col:3">
            <h3>Ubicacion</h3>
            <ul cds-layout="vertical gap:sm align:horizontal-center">
                <li><a href="">Calle de Martín de los Heros 63</a></li>
                <li><a href="">28008 Madrid</a></li>
                <li><a href="">direccioncemeresi@gmail.com</a></li>
                <li><a href="">+34637687934</a></li>
            </ul>
        </div>
        <div cds-layout="horizontal gap:md align:horizontal-center col:6"> <img src="../../assets/media/logo.svg"
                alt="Logo"></div>
        <div cds-layout="vertical gap:md align:center col:3">
            <h3>Enlaces rápidos</h3>
            <ul cds-layout="vertical gap:sm align:horizontal-center">
                <li><a href="">NOSOTROS</a></li>
                <li><a href="">TRATAMIENTOS</a></li>
                <li><a href="">CONTACTO</a></li>
            </ul>
        </div>
    </div>
    <div></div>

</footer>