<ion-header>
  <ion-toolbar>
    <ion-title>Pacientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">
  <ion-searchbar animated="true" placeholder="Datos del cliente"></ion-searchbar>
  <ion-button size="small" id="open-modal" expand="block">Filtrar los campos</ion-button>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Filter</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item *ngFor="let row of customerRows">
          <ion-checkbox slot="start" [checked]="row.checked" [(ngModel)]="row.checked" (click)="check(row)"
            [disabled]="!row.checked && checkeds === limit"></ion-checkbox>
          <ion-label>{{row.name}}</ion-label>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col *ngFor="let row of rowsChecked;">{{row.name}}</ion-col>
      <ion-col>
        Acciones
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let customer of patients;">
      <ion-col [hidden]="!idBool">{{ customer.id }}</ion-col>
      <ion-col [hidden]="!nameBool">{{ customer.name }}</ion-col>
      <ion-col [hidden]="!lastNameBool">{{ customer.lastName }}</ion-col>
      <ion-col [hidden]="!genderBool">{{ customer.gender }}</ion-col>
      <ion-col [hidden]="!birthdayBool">{{ customer.birthday }}</ion-col>
      <ion-col [hidden]="!phoneBool">{{ customer.phone }}</ion-col>
      <ion-col [hidden]="!emailBool">{{ customer.email }}</ion-col>
      <ion-col [hidden]="!noteBool">{{ customer.note }}</ion-col>
      <ion-col [hidden]="!dateBool">{{ customer.date }}</ion-col>
      <ion-col>
        <ion-button (click)="presentActionSheet(customer)" shape="round" size="small">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>