<ion-header>
  <ion-toolbar>
    <div class="toolbar-box">
      <ion-title id="pageTitle">{{title}}</ion-title>
      <ion-button type="button" shape="round" size="small" fill="outline" (click)="goBack()">
        <ion-icon name="arrow-redo-sharp"></ion-icon>Volver
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title id="nameTitle" *ngIf="patient">{{patient.name + ' ' + patient.lastName}}</ion-title>
  <ion-textarea #historical placeholder="Escribe aqui el historico" [autoGrow]="true" [clearOnEdit]="true">
  </ion-textarea>
  <div class="btn-box">
    <ion-button shape="round" (click)="onClickAddHistorial()" color="success">
      <ion-icon name="add-sharp"></ion-icon>Crear
    </ion-button>
    <ion-button type="reset" shape="round" (click)="historical.value = ''" fill="outline" color="danger">
      <ion-icon name="remove-outline"></ion-icon>Resetear
    </ion-button>
  </div>
</ion-content>