<ion-header>
  <ion-toolbar>
    <ion-title>{{toolbarTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title size="small">{{contentTitle}}</ion-title>
  <video id="video" [autoplay]="true" [loop]="true" [muted]="true">
    <source [src]="videoPath" type=" video/webm">
    Your browser does not support the video tag.
  </video>
</ion-content>