video {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 110%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    opacity: .3;
}