//header
header{
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #fff;
}
//desktop menu
.desktop__menu{
    height: 120px;
    padding: 1%;
}

.menu__title{
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    font-style: italic;
}

.side__sidenav{
    margin-top: 70px;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    box-shadow: 10px 1px rgba(0, 0, 0, .5);
}

//mobile menu
.mobile__menu {
    width: 100%;
    height: 70px;
    padding: 1%;

}
.mobile__img{
    width: 50px;
}

//===hover efect navbar
nav button {
    display: block;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
}
nav button,
nav button:after,
nav button:before {
    transition: all .5s;
}

nav button:hover {
    color: var(--main-color);
}
nav button {
    position: relative;
}

nav button:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--main-color);
    height: 3px;
}

nav button:hover:after {
    width: 100%;
}

// ====MEDIA QUERY===

@media screen and (max-width: 786px) {
    .menu__title {
            font-size: 1rem;
            font-style: italic;
            margin: 0;
        }
}

@media screen and (max-width: 420px) {
    .mobile__img {
            display: none;
        }
}